<html>
    <head>
        <title>testar</title>
        <link rel="stylesheet" href="/index-izxKZKI6.css" />
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
        <header>
            <ul class="header">
                {{#each menuPath}}
                    <a class="hej" href="{{this.link}}">{{this.label}}</a>
                {{/each}}
            </ul>
        </header>
        {{{body}}}
    </body>
</html>