<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="./vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vite + React</title>
  <script type="module" crossorigin src="index-DAeGi70I.js"></script>
  <link rel="stylesheet" crossorigin href="index-izxKZKI6.css" />
</head>
<script type="module" crossorigin src="/index-CHJ3nMAN"></script>
<div class="WORDLE_GAME" id="root"></div>